@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition-smooth {
    @apply transition-all duration-150 ease-in;
  }
}

:root {
  color-scheme: dark;
}

youtube-player iframe {
  position: relative;
  top: -60px;
  left: 0;
  //height for youtube player hide information beacause the show information is deprecated since 2018
  height: calc(100% + 120px)!important;
  width: 100% !important;
  scale: 1.5;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera but keep the */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@media (hover: none) and (pointer: coarse) {
  .drag-scroll-content {
    overflow: auto !important;
  }
  drag-scroll-content::-webkit-scrollbar {
    display: none !important;
  }
  .drag-scroll-content {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }
}

.drag-scroll-wrapper{
  height: 100%!important;
}
